<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hotel.hotelserver.mapper.housing.HousingPriceMapper" >
  <resultMap id="BaseResultMap" type="cn.hotel.hotelserver.model.housing.HousingPrice" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bill_serial" property="billSerial" jdbcType="VARCHAR" />
    <result column="deposit" property="deposit" jdbcType="INTEGER" />
    <result column="room_price" property="roomPrice" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cn.hotel.hotelserver.model.housing.HousingPrice" extends="BaseResultMap" >
    <result column="other_price" property="otherPrice" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, bill_serial, deposit, room_price
  </sql>
  <sql id="Blob_Column_List" >
    other_price
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from housing_price
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from housing_price
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.hotel.hotelserver.model.housing.HousingPrice" >
    insert into housing_price (bill_serial, deposit,
      room_price)
    values (#{billSerial,jdbcType=VARCHAR}, #{deposit,jdbcType=INTEGER},
      #{roomPrice,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.hotel.hotelserver.model.housing.HousingPrice" >
    update housing_price
    <set >
      <if test="billSerial != null" >
        bill_serial = #{billSerial,jdbcType=VARCHAR},
      </if>
      <if test="deposit != null" >
        deposit = #{deposit,jdbcType=INTEGER},
      </if>
      <if test="roomPrice != null" >
        room_price = #{roomPrice,jdbcType=INTEGER},
      </if>
      <if test="otherPrice != null" >
        other_price = #{otherPrice,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.hotel.hotelserver.model.housing.HousingPrice" >
    update housing_price
    set bill_serial = #{billSerial,jdbcType=VARCHAR},
      deposit = #{deposit,jdbcType=INTEGER},
      room_price = #{roomPrice,jdbcType=INTEGER},
      other_price = #{otherPrice,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.hotel.hotelserver.model.housing.HousingPrice" >
    update housing_price
    set bill_serial = #{billSerial,jdbcType=VARCHAR},
      deposit = #{deposit,jdbcType=INTEGER},
      room_price = #{roomPrice,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>